name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"
        check-latest: true

    - run: python -m pip install tox

    - name: run Python tests
      run: tox -e tests
